<section class="bg-primary" id="experience">
    <div class="container">
      <div class="col-lg-8 col-lg-offset-2 text-center">
          <h2 class="section-heading">Experiences (Coming Soon...)</h2>
          <hr class="primary">
      </div>
    </div>

    <div class="row">
    <div class="col-md-6">
        <ul>

              <h3><i class="fa fa-map-marker"></i> Farm Tours</h3>
              <p>Guided and Self-Guided Tours: Explore our farm, learn about cocoa cultivation, and discover our sustainable practices.</p>
                <h3><i class="fa fa-book"></i> Educational Workshops</h3>
                <p>Cocoa Processing & Sustainable Practices: Learn about transforming cocoa beans into chocolate and our eco-friendly farming methods.</p>
                <h3><i class="fa fa-tree"></i> Eco-Tourism Activities</h3>
                <p>Nature Walks & Bird Watching: Explore local flora and fauna and engage in bird watching.</p>
        </ul>
    </div>
    <div class="col-md-6">
        <ul>
          <h3><i class="fa fa-shopping-cart"></i> Retail Opportunities</h3>
          <p>Farm Shop & Local Crafts: Purchase our cocoa products and local crafts.</p>
          <h3><i class="fa fa-puzzle-piece"></i> Interactive Exhibits</h3>
          <p>Visitor Center & Children’s Activities: Visit exhibits on cocoa history and engage in fun activities for kids.</p>
          <h3><i class="fa fa-users"></i> Community Engagement</h3>
          <p>Volunteer Programs & Community Projects: Volunteer on the farm and participate in community initiatives.</p>
          <h3><i class="fa fa-calendar"></i> Seasonal Events</h3>
          <p>Harvest Festivals & Workshops: Celebrate cocoa harvests and attend expert lectures.</p>
        </ul>
    </div>
</div>

</section>
