<section id="connect">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">The Farms at Solivera</h2>
                <hr class="primary">
            </div>
            <div class="row">
              <div class="col-md-6">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5992.891630478875!2d-9.781967668753726!3d7.051217205413678!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xfa6571ac5d0eec5%3A0x2bbef3e9c631ffb7!2sThe%20Farms%20at%20SOLIVERA!5e1!3m2!1sen!2sus!4v1717805437830!5m2!1sen!2sus"
                        width="350"
                        height="300"
                        style="border:0;"
                        allowfullscreen=""
                        loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
              </div>
              <div class="col-md-6">
                <p><strong>Welcome to our farm nestled approximately 10 miles (16 kilometers) southwest of the breathtaking Kpatawee Waterfalls in Bong County, Liberia.
                  Our farm is situated in the lush and fertile landscapes of this region, offering an ideal environment for cultivating high-quality cocoa beans
                  & Palm products.<br><br>
                  Join us on a journey of discovery as we celebrate the beauty of Bong County and the artistry of cocoa farming.
                  Experience the magic of our farm, where the rhythm of nature and the passion of our farmers converge to (soon) create cocoa beans and palmns products of unparalleled quality and flavor.
                </strong>
                </p>
              </div>
            </div>




        <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="tel:{{ site.tel }}">
              <!-- <a href="tel:+1234567890">Call Us: +1 (234) 567-890</a> -->
                <i class="fa fa-phone fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>+231-886-138075</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="mailto:{{ site.email }}">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.email }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="whatsapp">
            <i class="fa fa-whatsapp fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>+231-555-310434</p>
            </a>
        </div>
        <div class=" text-center">
            <a href="https://www.youtube.com/channel/UCcDC5_ykid2-g-SNoUoCOQg">
            <i class="fa fa-youtube fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>Ckeck our Youtube Channel for more contents.</p>
            </a>
        </div>

    </div>
</section>
