<section class="no-padding" id="gallery">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#" onclick="event.preventDefault();" class="portfolio-box">
                    <img src="img/portfolio/0.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Our Cocoa Nursery
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/1.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                OUr Palm Nursery
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" onclick="event.preventDefault();" class="portfolio-box">
                    <img src="img/portfolio/2.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Few of our Cocoa Plants started flowering.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" onclick="event.preventDefault();" >
                    <iframe src="https://drive.google.com/file/d/1O9RfhA01QX50k7sZqPGqWJj70Jk_dWTO/preview?autoplay=2&mute=1"
                    width="542"
                    height="292"
                    display="flex"
                    allow="autoplay; encrypted-media"></iframe>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Sprinklers system water the cocoa plants
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/5.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Transport plants for planting.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 video-container" >
                <a href="#" onclick="event.preventDefault();" >
                    <iframe src="https://drive.google.com/file/d/1YSJKVlBFErT0KiXadKUTt2R5xYk6tz3o/preview?autoplay=2&mute=1"
                    allow="autoplay; encrypted-media"></iframe>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Sprinklers system water the cocoa plants
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
