<section id="story">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading"><strong>Our Story</strong></h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
          <div >
          <h3 class="font-weight-bold text-primary"><strong><em>The Farms at Solivera is a medium-scale cocoa and palm farm located in Bong County, Liberia (7°3'3" N 9°46'43" W).
            Since our inception in January 2022, we have been dedicated to producing high-quality cocoa and palm products for export
            to the international market. We operate on 324 acres of land, committed to sustainable agricultural practices that ensure
            our expansion has minimal environmental impact.<br><br>
            Our farm is powered by a 5 KWH solar system, providing 24/7 clean energy, and we have a borehole supplying safe drinking water,
            significantly improving the lives of our workers. We prioritize gender inclusivity, with a goal to have at least 50% of our workforce
            comprised of women, and we actively promote women in leadership positions.<br><br>
            Looking ahead, we plan to build more housing, increase our renewable electricity generation,
            and bore additional wells to support other parts of the farm. At The Farms at Solivera, we are not just growing crops;
            we are nurturing a sustainable and inclusive community.<em></strong>
          </h3>
          </div>
            <!-- <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Sturdy Templates</h3>
                    <p class="text-muted">Our templates are updated regularly so they don't break.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Ready to Ship</h3>
                    <p class="text-muted">You can use this theme as is, or you can make changes!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Up to Date</h3>
                    <p class="text-muted">We update dependencies to keep things fresh.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Made with Love</h3>
                    <p class="text-muted">You have to make your websites with love these days!</p>
                </div>
            </div>
        </div> -->
    </div>
</section>
